---
http_interactions:
- request:
    method: get
    uri: http://api.payrollhero.ph.dev/api/v3/employees/me?show_tags=false&token=l2zsmk8njz0l4w6sxlafl2wh2jot0df
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Meta-Request-Version:
      - 0.3.4
      Etag:
      - W/"cdb215732d004c14bf481e4cdf45f00d"
    body:
      encoding: UTF-8
      string: '{"employee":{"id":1,"account_id":1,"firstname":"Piotr","lastname":"Banasik","gender":"male","timezone":"Asia/Shanghai","clock_on_non_work_days":true,"works_on_holidays":false,"avatar":{"profile":null},"employment_date":"2015-09-24","date_of_birth":null,"primary_worksite_id":1,"employee_number":""}}'
  recorded_at: Fri, 27 Nov 2015 03:23:31 GMT
recorded_with: VCR 3.0.0
