---
http_interactions:
- request:
    method: get
    uri: http://api.payrollhero.dev/api/v3/attendance_days?token=56zx2s3deur9yjsdnqg6kk52esek2kh
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5cfd1f65a29373b627379310bec71d84"
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"attendance_days":[{"date":"2016-05-16","employee_id":73,"uid":"37333a323031362d30352d3136","updated_time":1463357277,"shifts":[{"review_category":"missing_out","unscheduled":false,"status":"clocked_in","clock_in":{"kind":"clock_in","time":1463357267,"photo":"https://s3.amazonaws.com/files2.payrollhero.com/production/rollcall_day_items/20653202/webcams/original/603b7722d477b1e8818c07db70c9935b.jpg?AWSAccessKeyId=AKIAIDREUNA4YXQXIMYQ&Expires=1465967055&Signature=jPRf0LKc1F%2BPZpWB8YDrWMkQZ3o%3D","worksite_id":1977},"clock_out":null,"breaks":[],"resolved_in":null,"resolved_out":null}]},{"date":"2016-05-17","employee_id":73,"uid":"37333a323031362d30352d3137","updated_time":0,"shifts":[]},{"date":"2016-05-18","employee_id":73,"uid":"37333a323031362d30352d3138","updated_time":0,"shifts":[]},{"date":"2016-05-19","employee_id":73,"uid":"37333a323031362d30352d3139","updated_time":0,"shifts":[]},{"date":"2016-05-20","employee_id":73,"uid":"37333a323031362d30352d3230","updated_time":0,"shifts":[]},{"date":"2016-05-21","employee_id":73,"uid":"37333a323031362d30352d3231","update[...]
