---
http_interactions:
- request:
    method: get
    uri: http://api.payrollhero.dev/api/v4/employees/5?token=2j86kvirxyyhj3lyvurytj7gcis5l7t
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2a35b42c768545b7d64f8dffb74ae29f"
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"employee":{"id":5,"account_id":65,"firstname":"Jeff Kent","lastname":"Buenaflor","gender":"male","timezone":"Asia/Hong_Kong","clock_on_non_work_days":false,"works_on_holidays":false,"avatar":{"profile":"https://s3.amazonaws.com/files2.payrollhero.com/production/employees/4115/avatars/profile/7a2ce02155598d9a915cad24c1104865?AWSAccessKeyId=AKIAIDREUNA4YXQXIMYQ&Expires=1451783790&Signature=VgxXOLCL3TklvAgxftdzF1Ox97k%3D"},"employment_date":null,"date_of_birth":"1990-07-04","primary_worksite_id":null,"employee_number":""}}'
  recorded_at: Fri, 04 Dec 2015 01:16:30 GMT
recorded_with: VCR 3.0.0
