---
http_interactions:
- request:
    method: get
    uri: http://api.payrollhero.dev/api/v4/permissions?token=lubzxi08vai2sb42rgkcn5e2py2uq12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e58182fe23e27f076a7adc2d46f61957"
      X-Meta-Request-Version:
      - 0.3.4
    body:
      encoding: UTF-8
      string: '{"features":{"leave_management":true},"permissions":{"leave_management":{"own_leaves":"create","subordinate_leave_banks":"edit","self_leave_banks":"read","subordinate_leaves":"none"}}}'
  recorded_at: Mon, 28 Dec 2015 07:31:41 GMT
recorded_with: VCR 3.0.0
