---
http_interactions:
- request:
    method: get
    uri: http://api.payrollhero.dev/api/v4/shifts?token=4numx2k58vd3y0qw63r6dcqdkxcv3h0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f434bfc58352ef90591548cce907fd30"
      x-meta-request-version:
      - 0.4.0
    body:
      encoding: UTF-8
      string: '{"shifts":[{"id":1,"name":"08:00
      - 16:00","category_name":"","items":[{"kind":"work","start_time":"08:00","end_time":"16:00","start_day":0,"end_day":0}]},{"id":3,"name":"10:00
      - 18:00","category_name":"","items":[{"kind":"work","start_time":"10:00","end_time":"18:00","start_day":0,"end_day":0}]}]}'
  recorded_at: Mon, 12 Sep 2016 10:08:45 GMT
recorded_with: VCR 3.0.0
