---
http_interactions:
- request:
    method: get
    uri: http://api.payrollhero.dev/api/v2/worksites?token=l2zsmk8njz0l4w6sxlafl2wh2jot0df
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Meta-Request-Version:
      - 0.3.4
      Etag:
      - W/"89cbe3bcb6698f981a442a55c9201116"
    body:
      encoding: UTF-8
      string: '{"worksites":[{"id":1,"name":"Default worksite","address":"Philippines","latitude":null,"longitude":null,"proximity_radius":999.0,"account_id":1,"time_zone":"America/Los_Angeles"}]}'
  recorded_at: Fri, 27 Nov 2015 03:14:56 GMT
recorded_with: VCR 3.0.0
